<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.drury.mcs.icarus.druryexplorer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Due"
        android:versionCode="6"
        android:versionName="1.5"
        >
        <activity
            android:name=".Navigation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".DruryMap"
            android:label="@string/title_activity_drury_map"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Halls"
            android:label="@string/title_activity_halls"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Departments"
            android:label="@string/title_activity_departments"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About_Page"
            android:label="@string/title_activity_about__page"
            android:parentActivityName=".Navigation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drury.mcs.icarus.druryexplorer.Navigation" />
        </activity>
        <activity
            android:name=".BuildingFacts"
            android:label="@string/title_activity_hall_facts"
            android:parentActivityName="Halls"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DepartmentFacts"
            android:label="@string/title_activity_department_facts"
            android:parentActivityName="Departments"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
